$colores:(
    celesteop: rgba(139, 203, 255,0.5),
    celeste: rgba(139, 203, 255),
    rosa: rgb(250, 206, 213),
    violeta: violet,
    colorlogo:rgba(255,255,255,255),
    purpura:purple,
    );
$fuentes:(
 font1:0.8rem,
 font2:1.3rem,
 font3:1.8rem,
    
)