.texto-iframe{
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    font-style:oblique;
    color: map-get($map:$colores, $key:purpura);
    text-transform: uppercase;
    
    padding-top: 0.5em;
    
    
    &-titulo{
        text-transform: uppercase;
        font-style: italic;
        font-size: 2em;
        color: purple;
        font-weight: 800;
        margin-left: 2em;
        margin-right: 2em;
        
        
    
    }
}
.texto-titulo{
    display: flex;
    justify-content: center;
}